# Laravel-specific files
/vendor/
/node_modules/
/storage/
/public/uploads/
/.env
/.env.*
/bootstrap/cache/
/storage/logs/
/storage/framework/views/

# IDE and OS specific files
/.idea/
/.vscode/
/.DS_Store
Thumbs.db

# Composer
composer.lock

# NPM/Yarn
package-lock.json
yarn.lock

# Misc
*.log